celery==4.2.1
flask==1.0.2
flask-cors==3.0.7
gpy==1.9.6
keras==2.2.4
matplotlib==3.0.1
pandas==0.24.0
peewee==3.6.4
pillow==5.4.1
scikit-learn==0.20.1
pytest==4.3.1
psycopg2==2.7.6.1
tensorflow==2.5.3
eventlet==0.23.0